body{
  margin: 0;
  background-color: var(--primary-color);
  font-family: rubik !important;
  transition: color 0.3s linear;
  transition: background-color 0.3s linear;
}



body::-webkit-scrollbar{
  display: none !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}


@font-face {
  font-family: 'rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
}



