.home-page-container{
    padding-top: 50px;
}

.emphasis{
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 25px;
}


.body-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
    padding-right: 35px;
}


.main{
    margin-top: 100px !important;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 50px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 90%;
}

.Projects{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 150px;
}

.projects-section-title{
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 50px;
    margin-bottom: 10px;
    width: fit-content;
    white-space: 'nowrap';
    margin: 0;
}

.projects-subheader{
    margin-top: 5px;
    color: var(--text-color);
}

.emphasis-subtle{
    color: var(--tertiary-color);
    font-weight: bold;
}

.responsive-optional-on{
    display: none;
}

#about-me{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    border: 0.5px solid var(--tertiary-color);
    box-shadow: 0px 0px 15px 3px var(--tertiary-color);
    overflow: hidden;
}


.headshot-image{
    height: 300px;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    background-image: url('../../assets/images/sb-headshot-fullbody-alt-3.jpg');
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--headshot-background-color);
}


.headshot-image img{
    height: auto;
    width: 100%;
}


.bio{
    padding-top: 5px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text-color);
}

.bio h1{
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    white-space: nowrap !important;
}

.bio h1 > *{
    white-space: nowrap !important;
}

.bio p{
    margin: 0;
    font-size: 14px;
}


.in-depth-bio{
    color: var(--text-color);
    max-height: 250px;
}

.contact-me{
    margin-top: 25px;
    margin-bottom: 10px;
}

.contact-header{
    font-size: 14px;
}

.contact-label{
    font-size: 13px;
}

#contact{
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 12px;
}


.social-links{
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 3px;
    width: 100%;
}

.social-links button{
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    background-color: var(--secondary-color);
    box-shadow: -2px 2px 2px 1px var(--tertiary-color);
    padding: 5px;
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
}

.social-links button:hover{
    box-shadow: -2px 2px 3px 3px var(--tertiary-color);
    transform: scale(1.1);
}

.social-links button img{
    height: 100%;
    width: auto;
    margin-right: 10px;
}



.Expertise{
    
}

.exp-areas{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.exp-areas section{
    padding: 10px;
    color: var(--text-color);
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
    min-width: 200px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid var(--tertiary-color);
    box-shadow: -0px 0px 10px 0px var(--tertiary-color);
}

.exp-title-container{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.exp-title-container img{
    padding: 5px;
    background-color: var(--expertise-icon-background-color);
    border-radius: 5px;
    position: relative;
    width: auto;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.exp-text {
    color: var(--text-color);
    text-align: left;
    font-size: 13px;
}

.frontend-title{
    text-align: center;
    margin: 0;
    width: 100%;
}

.expertise-title{
    color: var(--text-color);

}

.loading-dot-1 {
    position: relative;
    animation: loading 1.5s infinite;
}

.loading-dot-2 {
    position: relative;
    animation: loading 1.5s infinite;
    animation-delay: 0.25s; /* Adjusted delay value */
    -webkit-animation-delay: 0.25s;
}

.loading-dot-3 {
    position: relative;
    animation: loading 1.5s infinite;
    animation-delay: 0.5s; /* Adjusted delay value */
    -webkit-animation-delay: 0.5s;
}

@keyframes loading {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 12px; /* Midpoint, halfway through the animation */
    }
    100% {
        bottom: 0px;
    }
}



@media screen and (max-width: 1020px) {
    .bio h1{
        font-size: 15px !important;
    }
    
    .responsive-optional{
        display: none !important;
        
    }

    .emphasis{
        font-size: 20px;
        white-space: nowrap !important;
        display: flex;
    }

    .in-depth-bio{
        max-height: 145px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .in-depth-bio:-webkit-scrollbar{
        display: flex !important;
    }

    
}

@media screen and (max-width: 720px){
    .exp-areas{
        flex-direction: column;
        align-items: baseline;
    }

    .exp-areas section{
        width: 100%;
        margin-bottom: 20px;
    }

    .frontend-title{
        text-align: left;
    }
}


@media screen and (max-width: 860px) {
    

    .responsive-optional-on{
        display: flex;
        white-space: nowrap;
        color: var(--text-color) !important;
    }

    
}


@media screen and (max-width: 820px) {
    
    .social-links{
        padding-top: 5px;
    }

    .social-links button{
        justify-content: center;
        width: fit-content;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        
    }

    .social-links button img{
        margin-right: 0;
    }


    .social-links button span{
        display: none !important;
    }

    
}


@media screen and (max-width: 550px) {
    
    #about-me{
        flex-direction: column;
    box-shadow: -1px 1px 5px 5px var(--tertiary-color);

    }

    .headshot-image{
        width: 100%;
        height: auto;
    }

    
}