.leaderboard-section {
    min-height: 350px;
    min-width: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    background-color: var(--project-showcase-background);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: inset 1px 0px 10px 2px black;
}

.leaderboard-header {
    font-size: 14px;
    color: var(--project-showcase-header);
    font-family: 'rubik';
}

.leaderboard-row {
    width: 175px;
    min-height: 25px;
    margin-bottom: 1px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'rubik';
    color: var(--project-showcase-description);
    ;
    font-size: 13px;
    text-align: center;
}

.order {
    width: fit-content;
}

.name {
    width: 100px;
}

.score {
    width: 25px;
}

.difficulty {
    width: 50px;
    text-align: center;
}

.download-section {
    margin-top: auto;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button {
    width: 95%;
    background-color: rgb(212, 167, 22);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.download-button:hover {
    opacity: 0.5;
}


@media screen and (max-width: 800px) {
    .leaderboard-section {
        width: 100%;
        max-height: 300px;
        min-height: 0;
    }

    .leaderboard-row {
        width: 90%;
    }
}